os:
- linux
services:
- docker
language: node_js
node_js:
- 10.13.0
jdk:
- oraclejdk8
sudo: false
cache:
  directories:
  - node
  - node_modules
  - "$HOME/.m2"
env:
  global:
  - NODE_VERSION=10.13.0
  - SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
  - SPRING_JPA_SHOW_SQL=false
  - secure: mq7VdSJ53Dn2biKHl8zToSZbTIHMuxv2/6sM3M0YrTifZ26JYorfhOeCHOXyk1UNuO1pcq81dEG2aXlj/463UOpYYhlxCcLYdgdsnq9hA6/q3CGX5LvCtSzil8hF5kJOEpIZhmBINM0nzZJcGlmWIhNQ9T1WEcZe8stLiiyXnS1k7L1tEc6UdApRgk3hrMpou4BKDSyn+JzKyHTo9/XcF/VbMXrk4jWbE/40mxuWyAk2xff9et5P2tv/MfiW+NoYtC6jhK+GS2zPRR/tSdjWcEy4Ogta2ht7s6UGQgOUKTkDgudTf3PgvOxcIggA2bNvysL0ubFTvKo+HXKjDNsHboyQvcCzqIvo/MPExu3rFNN2sgRVC0ORh+p6wvlwpFGjmDTpulbaLYjPjgfEqo6f2dHffj4wAZt3Q1F+VikA4YC8r3Ib2RBTHHOGNJSTsdP4WvHDuTKbypkmr4clkeqimo9QIzskESZgykXfBQGY2v04w4r5U1/pCVJ1y8fpdUj80NzJSz1FEAZPxBExRv9X+upz0f6gepPSjOPnyxA4X0VnjJPAL/fnuoE+ZPshKneCLdJDnf+a0BYyK6z5nRD078Y7Vx5GYQ7yp1cfpDnv8mSQ4IG79jvUfPWpFLj7U9LUVYBK+OQKTSCNTJrVnzr1CqcMU+VvRaNQqd9GkIF1zzY= #DOCKER_USER
  - secure: GBjlT73Nc1bc1ccHeBdgTtlk4E5S3KbR0AzZigTQJiNZHYzGCAuv6Jro1cHQbm50+OJ9irVkywpsNt8cTnngSYWYXIXZzGkfxTuxH+KeLwmkb6SkMX//+3gSYHurfouWQ504YPylC3JuJm7/FPqpaDEeN0DNRD+h9stdUG7Ywjzt+lEck/4fDMoumygCf3UpqHSbIpxRYw9EBn5ek/HSR2QeGNeF8qHoTgq9eVknIr0kwkP56yNJJcoLY3NK3xPWRY9CYaT0HWoyuv+S/4/Q8B2YGohbING7P3Ultmw9w+AEbDJMzwlOCMNROpDBid8HIOSOAoB6CjoBeSOSiRuSmLlmSt+4sMKCnP6ksYL1QXaIcxJLa4zOzqsQsaKV6LEsQVpnXrfyJAc95u8Oy6hVTuIA9QmiYm6k9Cq2TXzR/4ZQm6d0QoWm3YQiwlCH1PK8IPPG+TgBQ/tmTxAeNyS+VSeCyBf174VwECVG82LhuDaIuWWSFAXO5unQfTEaR5kMbU2+WsIu3onkuLR4N/Zhnc5RQ7uJLmL1SdYUD52kIlGIA3JFxwQvLBR51VahzwzLj6hcDWhUV+q8zX+Xpa2UlLnuprAXz4d0x1PYqUtGu+C0PjdALc7V/jra1UftzD0UD+pLHzmlfUCKlu2Htn7oNgQljwexMzkCipq986UUItk= #DOCKER_PASS
  - COMMIT=${TRAVIS_COMMIT::7}
before_install:
- jdk_switcher use oraclejdk8
- java -version
- sudo /etc/init.d/mysql stop
- sudo /etc/init.d/postgresql stop
- nvm install $NODE_VERSION
- npm install -g npm
- node -v
- npm -v
install:
- npm install
script:
- chmod +x mvnw
- "./mvnw clean test"
- npm test -- -u
- "./mvnw package -DSkipTests=true -Pprod jib:dockerBuild"
notifications:
  webhooks:
    on_success: change
    on_failure: always
    on_start: false

after_success:
- docker login -u $DOCKER_USER" -p $DOCKER_PASS
- export TAG=latest
- export IMAGE_NAME=luulsolutions/luulpos
- docker tag luulpos $IMAGE_NAME:$TAG
- docker push $IMAGE_NAME
